<%= simple_form_for @invite, url: invite_path do |f| %>
  <div class="card-deck mb-2">
    <%= f.simple_fields_for :people do |p| %>
    <div class="card">
      <div class="card-img-top card-img-icon">
        <% if p.object.child? %>
        <i class="fal fa-child"></i>
        <% elsif p.object.male? %>
        <i class="fal fa-male"></i>
        <% else %>
        <i class="fal fa-female"></i>
        <% end %>
      </div>
      <div class="card-body">
        <h2 class="card-title text-center"><%= p.object.first_name %> <%= p.object.last_name %></h2>
        <div class="card-text">
          <%= p.label :coming, "Will #{p.object.primary? ? 'you' : p.object.first_name} be able to attend?" %>
          <div class="form-group mb-0">
            <div class="btn-group btn-block btn-group-toggle" data-toggle="buttons">
              <div class="btn btn-block" role="button">
                <%= p.radio_button :coming, 'true' %>
                Yes
              </div>
              <div class="btn btn-block" role="button">
                <%= p.radio_button :coming, 'false' %>
                No
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% if @invite.ask_food? %>
    <div class="form-group">
      If you could bring a plate of food to share during the afternoon tea that would really help us!
      <%= f.label :food_type, 'Please indicate a type of food for catering purposes.' %>
      <div class="btn-group btn-block btn-group-toggle" data-toggle="buttons">
        <% Invite.food_types.each do |key, value| %>
        <div class="btn btn-block" role="button">
          <%= f.radio_button :food_type, value %>
          <%= value.titleize %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="actions my-3">
    <%= f.submit class: 'btn btn-primary', value: invite.rsvp? ? 'Update RSVP' : 'Send RSVP', data: { disable_with: invite.rsvp? ? 'Update RSVP' : 'Send RSVP' }  %>
  </div>
<% end %>
