<%= simple_form_for @invite, url: invite_path do |f| %>
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center display-3 my-3">Invite Details</h2>
      <%= f.input :phone %>
      <div class="form-group">
        <%= f.label :style, label: 'How would you like to receive your invitation?', required: true %>
        <div>
          <div class="btn-group btn-block btn-group-toggle" data-toggle="buttons">
            <div class="btn btn-block <%= 'active' if f.object.email? %>" role="button">
              <%= f.radio_button :style, 'email', checked: ('checked' if f.object.email?) %>
              Email
            </div>
            <div class="btn btn-block <%= 'active' if f.object.physical? %>" role="button">
              <%= f.radio_button :style, 'physical', checked: ('checked' if f.object.physical?) %>
              Post
            </div>
          </div>
        </div>
      </div>
      <div class="email">
        <%= f.input :email_address, required: true %>
      </div>
      <div class="address">
        <%= f.input :street, required: true %>
        <%= f.input :suburb, required: true %>
        <div class="d-flex">
          <div class="w-75 mr-2">
            <%= f.input :city, required: true %>
          </div>
          <div>
            <%= f.input :postal_code %>
          </div>
        </div>
        <%= f.input :country, priority: ['New Zealand'], required: true %>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="text-center display-3 my-3">Family Details</h2>
      <div class="people">
        <%= f.simple_fields_for :people do |person| %>
          <%= render 'person_fields', f: person %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add Family Member', f, :people, class: 'btn btn-secondary d-block d-md-inline-block w-100 w-md-auto' %>
        </div>
      </div>
    </div>
  </div>
  <div class="actions my-3">
    <%= f.submit class: 'btn btn-primary d-block d-md-inline-block w-100 w-md-auto', value: 'Send Me an Invite', data: { disable_with: 'Send Me an Invite' } %>
  </div>
<% end %>
