<%= simple_form_for @invite, url: invite_path do |f| %>
  <div class="row">
    <div class="col-md-6">
      <h2>Invite Details</h2>
      <%= f.input :style, as: :radio_buttons, collection: Invite.styles, label: 'How would you like to receive your invitation?', required: true %>
      <div class="email">
        <%= f.input :email_address, required: true %>
      </div>
      <div class="address">
        <%= f.input :street, required: true %>
        <%= f.input :suburb, required: true %>
        <div class="d-flex">
          <div class="w-75 mr-2">
            <%= f.input :city, required: true %>
          </div>
          <div>
            <%= f.input :postal_code %>
          </div>
        </div>
        <%= f.input :country, priority: ['New Zealand'] %>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Your Family Details</h2>
      <div class="people">
        <%= f.simple_fields_for :people do |person| %>
          <%= render 'person_fields', f: person %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add Person', f, :people, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
